*{
    margin:0;
    padding:0;
}
body{
    background-color: purple;
}
#overlay{
    height:100vh;
    width:100%;
    position: fixed;
}
form{
   max-width: 400px;
   width:90%;
   background: white;
   margin:17vh auto 0 auto;
   padding:40px;
   border-radius: 3px;
   box-sizing: border-box; 
}
label{
    display: block;
    margin: 8px 0;
}
input,text{
    width:100%;
    padding: 10px;
    outline: none;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    resize:none;
}
input[type="text"]:focus,text:focus
{
    border-bottom: 1px solid red;
}
h1{
    text-align: center;
    color: brown;
}
input[type="submit"]
{
    margin-top: 20px;
    width:90%;
    max-width: 200px;
    background-color: blue;
    color:azure;
    font-size: 17px;
    cursor: pointer;
    border-radius: 3px;
}
#center{
    text-align: center;
}
.error{
    color:red;
    border-bottom: 1px solid darkred;
}
#success{
    color:green;
}
.error-border{
    border-bottom: 2px solid violet;
}